{% extends 'base.html.twig' %}

{% block title %}Les sociétés{% endblock %}
{% block body %}
    <section class="banner banner__societe">
        <div class="container">
            <h1 class="heading heading--1 heading--1__white">Nos societés</h1>
        </div>
    </section>
    <main>
        <section class="searchbar__section">
            <div class="container">
                <input id="searchbar_offers" type="text"
                       name="search" placeholder="Votre recherche"/>
            </div>
        </section>

        <section class="page__content">

            <div class="container">

                <h2 class="heading heading--h2 screen-reader-text">Page des sociétés</h2>

                <p>Retrouvez ici toutes les sociétés inscrites</p>

                <div class="page__content--grid">
                    {% for societe in societes %}
                        <article class="grid__item grid__item--societes">
                            <picture class="grid__item--logo">
                                <img src="{{asset('/upload/' ~ societe.logo)}}" alt="Logo de l'entreprise"
                                     style="background-color: {{ societe.backgroundlogo }}">
                            </picture>
                            <div class="grid--item__content">
                                <h3 class="heading heading--h4">{{ societe.name }}</h3>
                                <p class="grid--item__content__p">{{ societe.city }}</p>
                                <p class="grid--item__content__p">{{ societe.website }}</p>
                                <p class="grid--item__content__p">{{ societe.email }}</p>

                                <div class="grid--item__content__button">
                                    <a href="{{ path('societe_show', {'societe': societe.id}) }}" class="button
                                    button--primary">Voir la société</a>
                                </div>
                            </div>
                        </article>

                    {% endfor %}
                </div>
            </div>


        </section>
    </main>

{% endblock %}
