{% extends 'base.html.twig' %}

{% block title %}{{ societe.name }}{% endblock %}

{% block body %}
    <section class="banner banner__societe">
        <div class="container">
            <h1 class="heading heading--1 heading--1__white">{{ societe.name }}</h1>
        </div>
    </section>

    <main>
        <div class="container">
            <picture class="societe__logo--societe">
                <img src="{{asset('/upload/' ~ societe.logo)}}" alt="Logo de l'entreprise" style="background-color: {{ societe.backgroundlogo }}">
            </picture>

            <section class="page__content--societe">
                <div class="societe__infos">

                    <span>Ville</span>
                    <p>{{ societe.city }}</p>

                    <span>Site web de la societé</span>
                    <p>{{ societe.website | slice(0, 21) }}</p>

                    <span>Nom du contact</span>
                    <p>{{ societe.lastnamecontact }}</p>

                    <span>Prénom du contact</span>
                    <p>{{ societe.firstnamecontact }}</p>

                    <span>Mail du contact</span>
                    <p>{{ societe.email }}</p>

                    <span>Téléphone du contact</span>
                    <p>{{ societe.phonecontact }}</p>
                </div>

                <div class="societe__offres">
                    {% if societe.offres|length > 0 %}
                        <h2 class="heading heading--h2">Mes offres</h2>
                        <div class="societe__offres--grid">
                            {% for offre in societe.offres %}
                                <article class="grid__item grid__item--offres">
                                    <picture class="grid__item--logo">
                                        <img src="{{asset('/upload/' ~ offre.societe.logo)}}" alt="Logo de l'entreprise"
                                         style="background-color: {{ offre.societe.backgroundlogo }}">
                                    </picture>
                                    <div class="grid--item__content">
                                        <h3 class="heading heading--h4">{{ offre.title }}</h3>
                                        <p class="grid--item__content__p">{{ offre.societe.name }}</p>
                                        <p class="grid--item__content__p">{{ offre.createdat|date('d-m-Y H:i:s')| slice(0, 10) }}</p>
                                        <div class="dual_text">
                                            <p class="grid--item__content__p">{{ offre.contrattype }}</p>
                                            <p class="grid--item__content__p">{{ offre.societe.city }}</p>
                                        </div>
                                        <div class="grid--item__content__button">
                                            <a href="{{ path('offre_show', {'offre': offre.id}) }}" class="button
                                            button--primary">Voir l'annonce</a>
                                        </div>
                                    </div>
                                </article>
                            {% endfor %}
                        </div>
                    {% else %}
                        <h2 class="heading heading--h2">Les offres</h2>
                        <div class="societe__offres--grid">
                            <p>Aucune offre pour le moment</p>
                        </div>
                    {% endif %}
                </div>
            </section>

            <section class="societe__candidats">
                    <table class="societe__candidats--table">
                        <thead>
                            <tr>
                                <th>Nom et prénom</th>
                                <th>Mail</th>
                                <th>CV</th>
                                <th>Offre</th>
                            </tr>
                        </thead>
                        <tbody>
                        {% for offre in societe.offres %}
                        {% for candidat in offre.candidat %}
                            {% if offre.candidat|length > 0 %}
                            <tr>
                                <td><a href="{{ path('candidat_show', {'candidat': candidat.id}) }}">{{ candidat
                                        .firstname }} {{ candidat.lastname }}</a></td>
                                <td>{{ candidat.email }}</td>
                                <td><a download href="{{asset('/upload/' ~ candidat.candidatcv)}}">{{ candidat.candidatcv}}</a></td>
                                <td><a href="{{ path('offre_show', {'offre': offre.id}) }}">{{ candidat.offre
                                        .title }}</a></td>
                            </tr>
                            {% else %}
                            <tr>
                                <td>Aucun candidat(e) pour l'instant</td>
                            </tr>
                            {% endif %}
                        {% endfor %}
                        {% endfor %}
                        </tbody>
                    </table>

            </section>
            {% if (is_granted("ROLE_ADMIN") or app.user and app.user.id == societe.id ) %}
            <div class="societe__buttons">
                <a href="{{ path('societe_delete', {'societe': societe.id}) }}" class="button
                button--tertiary">Supprimer</a>
                <a href="{{ path('societe_edit', {'societe': societe.id}) }}" class="button
                button--secondary">Modifier</a>
                <a href="{{ path('societe_add-offre', {'societe': societe.id}) }}" class="button
                button--primary">Publier une annonce</a>
            </div>
            {% endif %}
        </div>

    </main>
{% endblock %}