{% extends 'base.html.twig' %}

{% block title %}Les candidats{% endblock %}
{% block body %}
    <section class="banner banner__candidat">
        <div class="container">
            <h1 class="heading heading--1 heading--1__white">Nos candidats</h1>
        </div>
    </section>

    <main>
        <section class="searchbar__section">
            <div class="container">
                <input id="searchbar" type="text"
                       name="search" placeholder="Votre recherche"/>
            </div>
        </section>

        <section class="page__content">

            <div class="container">

                <h2 class="heading heading--h2 screen-reader-text">Page des candidats</h2>

                <p>Retrouvez la liste des candidats ayant postulé à une offre d'emploi</p>

                <div class="page__content--grid">
                    {% for candidat in candidats %}
                        <article class="grid__item grid__item--societes">
                            <picture class="grid__item--logo">
                                <img src="{{asset('/upload/' ~ candidat.offre.societe.logo)}}" alt="Logo de l'entreprise"
                                     style="background-color: {{ candidat.offre.societe.backgroundlogo }}">
                            </picture>
                            <div class="grid--item__content">
                                <h3 class="heading heading--h4">{{ candidat.firstname }} {{ candidat.lastname }}</h3>
                                <p class="grid--item__content__p">{{ candidat.email }}</p>
                                <p class="grid--item__content__p">{{ candidat.phone }}</p>
                                <p class="grid--item__content__p">{{ candidat.candidatcv}}</p>

                                <div class="grid--item__content__button">
                                    <a href="{{ path('candidat_show', {'candidat': candidat.id}) }}" class="button
                                    button--primary">Voir le candidat</a>
                                </div>
                            </div>
                        </article>

                    {% endfor %}
                </div>
            </div>


        </section>
    </main>

{% endblock %}
